/* 先设置各类共同的属性，再分别设置类中各元素的独特属性 */
body{
  background-image: url(icon/bg.jpg);
  position:absolute;
  top:0;
  left:0;
  height:device-height;
  width:device-width;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */
  -o-background-size: cover;/* 兼容Opera */
}
.part1{
position:absolute;
top:200px;
}
img {
position:absolute;
height:180px;
left:50px;
top:50px;
float:left;
}
.class1 img {
  width:400px;
  left:50px;
}
.class2 img {
  width:300px;
  left:650px;
}
.class3 img {
  width:180px;
  left:1150px;
}
.class4 img {
  width:260px;
  top:360px;
  left:50px;
}
img:hover{
  height:250px;
  transition-delay: 50ms;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.class1 img:hover{
  width:550px;
}
.class2 img:hover{
  width:420px;
}
.class3 img:hover{
  width:250px;
}
.class4 img:hover{
  width:480px;
}
a:hover {
  color: Orange;
  text-shadow: -1px -1px 1px orange; /* 水平 垂直 模糊程度 颜色  */
}
a:active {
  color: yellow;
  text-shadow: -1px -1px 1px yellow; /* 水平 垂直 模糊程度 颜色  */
}
a:after {
  color: red;
  text-shadow: -1px -1px 1px red; /* 水平 垂直 模糊程度 颜色  */
}
p {
  font-family: 微软雅黑, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 30px;
  background-color: lightblue;
  text-shadow: -1px -1px 1px blue; /* 水平 垂直 模糊程度 颜色  */
  position: relative;
  padding-right:10px;
  padding-left:10px;
}
.class1 p {
  width:330px;
  top:-50px;
  left:70px;
}
.class2 p {
  width:225px;
  top:-170px;
  left:670px;
}
.class3 p {
  width:120px;
  top:-290px;
  left:1170px;
}
.class4 p {
  width:210px;
  top:-100px;
  left:65px;
